.footrow {
  background-color: white;
  height: 55vh;
  display: flex;
  flex-direction: row;
}

.footrow > div {
  flex: 50%;
  line-height: 80%;
}

.footcol.one {
  padding-left: 150px;
  padding-top: 60px;
}

.footcol.two {
  padding-right: 150px;
  padding-top: 60px;
  text-align: right;
}

.logogr {
  height: 140px;
  width: 140px;
}

.logogr-2 {
  display: none;
}

.logogr path {
  fill: #244752;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: 14px;
  margin-bottom: 50px;
}

.arrowgr {
  margin-top: 30px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.arrowgr:hover {
  animation: floatarrow 1.3s ease-in-out infinite;
}

@keyframes floatarrow {
  0% {
    transform: translatey(0%);
    opacity: 1;
  }
  50% {
    transform: translatey(-10%);
    opacity: 1;
  }
  100% {
    transform: translatey(0%);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .footrow {
    height: 65vh;
    flex-direction: column;
  }
  .footcol.one {
    padding: 40px 20px 0px 20px;
    margin-bottom: 0px;
  }
  .footcol.two {
    padding: 0px 20px 40px 20px;
    text-align: left;
  }
  .logogr {
    display: none;
  }
  .logogr-2 {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  .arrowgr {
    height: 40px;
    transform: translate(170px, -35px);
  }
  .footrow p {
    font-size: 12px;
  }
  .arrowgr:hover {
    animation: none;
  }
}

/* iphone x fix */
@media only screen and (width: 375px) and (height: 812px) {
  .footrow {
    height: 55vh;
  }
  .footcol.two {
    padding: 0px 20px 45px 20px;
  }
  .arrowgr:hover {
    animation: none;
  }
}

/* ipad fix */
@media only screen and (width: 768px) and (height: 1024px) {
  .footrow {
    height: 42vh;
  }
  .footcol.one {
    padding: 50px;
  }
  .footcol.two {
    line-height: inherit;
    padding: 50px 50px 50px 0px;
  }
  .underline {
    font-size: 15px;
  }
  .small {
    margin: 0;
  }
  .credit {
    margin-bottom: 0;
  }
  .copy {
    font-size: 15px;
    margin-top: 10px;
  }
  .logogr,
  .arrowgr {
    transform: translateY(50px);
  }
  .arrowgr:hover {
    animation: none;
  }
}
