.footrow {
  background-color: white;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.footrow > div {
  flex: 50%;
  line-height: 80%;
}

.footcol.one {
  padding-left: 150px;
  padding-top: 60px;
}

.footcol.two {
  padding-right: 150px;
  padding-top: 60px;
  text-align: right;
}

.logogr {
  height: 140px;
  width: 140px;
}

.logogr-2 {
  display: none;
}

.logogr path {
  fill: #244752;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: 14px;
  margin-bottom: 50px;
}

.arrowgr {
  margin-top: 30px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .footrow {
    height: 65vh;
    flex-direction: column;
  }
  .footcol.one {
    padding: 40px 20px 0px 20px;
    margin-bottom: 0px;
  }
  .footcol.two {
    padding: 0px 20px 40px 20px;
    text-align: left;
  }
  .logogr {
    display: none;
  }
  .logogr-2 {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  .arrowgr {
    height: 40px;
    transform: translate(170px, -35px);
  }
  .footrow p {
    font-size: 12px;
  }
}

/* iphone x fix */
@media only screen and (width: 375px) and (height: 812px) {
  .footrow {
    height: 55vh;
  }
  .footcol.two {
    padding: 0px 20px 45px 20px;
  }
}
