.mainrow-1 {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 100px;
}

.mainrow-2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}

.mainrow-1 > div,
.mainrow-2 > div {
  flex: 50%;
}

.maincol.one,
.maincol.four {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.maincol.three {
  padding-left: 110px;
}

.img-p {
  padding-right: 10px;
  font-size: 12px;
}

.main-img {
  width: 40vw;
}

.quote-div {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.quote {
  padding: 20px 150px 50px 250px;
  background-color: white;
  width: 90vw;
  height: 50vh;
  box-shadow: 0px 3px 15px rgba(94, 94, 94, 0.2);
}

.red {
  color: var(--red);
  font-family: meno-banner, serif;
  font-weight: lighter;
  line-height: 130%;
  font-size: 2em;
  font-style: italic;
}

img.red-quote {
  width: 50px;
  transform: translate(-70px, 70px);
}

h2 {
  font-family: meno-banner, serif;
  color: var(--blue);
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 0px;
}

h3 {
  font-family: 'Poppins-bold';
  color: var(--blue);
  margin-bottom: 0px;
}

.info {
  text-align: center;
  padding: 100px 320px 100px 320px;
  text-align: left;
}

.infop {
  font-family: 'Poppins';
  color: var(--blue);
  font-size: 15px;
}

.event-div {
  background-color: white;
  padding: 20px;
  width: 30vw;
  height: 70vh;
  border: 1px;
  box-shadow: 0px 3px 15px rgba(94, 94, 94, 0.2);
}

.event-info {
  padding: 50px 20px 50px 50px;
}

button.register {
  background-color: var(--blue);
  color: white;
  font-weight: lighter;
  font-family: 'Poppins';
  border: none;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  transition: 0.5s;
}

button.register:hover {
  background-color: rgb(121, 148, 170);
  color: white;
}

label {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.tiny {
  font-size: 11px;
}

a {
  color: var(--blue);
}

input[type='email'] {
  padding: 12px 20px;
  font-family: 'Poppins';
  width: 250px;
}

.bold {
  font-family: 'Poppins-bold';
}

.line {
  fill: none;
  stroke: #244752;
  stroke-miterlimit: 10;
  stroke-width: 4px;
  width: 350px;
  transform: translateX(-25px);
}

@media (max-width: 800px) {
  .quote-div {
    margin-top: 60px;
  }
  .quote {
    width: 70vw;
    padding: 20px 30px 20px 30px;
  }
  .red {
    font-size: 1em;
  }
  img.red-quote {
    transform: translateY(-2px);
    width: 40px;
  }
  .mainrow-1 {
    flex-direction: column-reverse;
    margin-top: 0px;
    margin-bottom: 60px;
  }
  .mainrow-2 {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .event-div {
    width: 70vw;
    height: 60vh;
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .event-info {
    padding: 0;
    font-size: 13px;
  }
  .event-div.two {
    height: 70vh;
  }
  input[type='email'] {
    width: 200px;
  }
  .maincol.one,
  .maincol.two,
  .maincol.three,
  .maincol.four {
    padding-left: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .main-img {
    width: 70vw;
  }
  .img-p {
    font-size: 11px;
    width: 70vw;
    margin-bottom: 0px;
  }
  .info {
    padding: 40px 70px 0px 70px;
  }
  h2 {
    font-size: 30px;
  }
  .line {
    width: 250px;
    transform: translateX(-17px);
  }
}

/* iphone x fix */
@media only screen and (width: 375px) and (height: 812px) {
  .event-div.two {
    height: 57vh;
  }
  .event-div {
    height: 50vh;
  }
}
